/* Her starter desktop css */

/* Body */

.forsideintro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 100px;
  background-color: var(--color-bg-grøn);
}

.temaer {
  text-align: center;
}

.tema-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 50px;
}

.temaknap {
  width: 450px;
  height: 300px;
  font-size: var(--desktop-font-size-h3);
}

.tema-boks {
  padding: 30px;
  text-align: center;
}

.ommigforside {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  gap: 20px;
  padding: 30px;
  justify-content: center;
  background-color: var(--color-bg-grøn);
}

#ommigoverskrift {
  grid-column: 1 / -1;
  grid-row: 1;
  text-align: center;
}

#ommigtekst {
  grid-column: 1;
  grid-row: 2;
  width: 570px;
}

#ommigbillede {
  grid-column: 2;
  grid-row: 2;
}

.ommigtekst {
  width: 300px;
}
/* Her slutter desktop css */

/* Her starter mobile css */
@media (max-width: 450px) {
  .tema-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
  }

  .forsideintro,
  .ommigforside {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-content: center;
  }
  #ommigoverskrift {
    grid-column: 1;
    grid-row: auto;
    text-align: center;
  }

  #ommigtekst {
    grid-column: 1;
    grid-row: auto;
    width: 370px;
  }

  #ommigbillede {
    grid-column: 1;
    grid-row: auto;
    width: 300px;
    height: auto;
  }
}

/* Her slutter mobile css */

/* Her starter generelt css */
.tema-boks {
  background-color: var(--color-bg-brun);
  border-radius: 4px;
}

.temaknap {
  font-family: var(--font-lily);
  align-content: center;
  border-radius: 4px;
  background-color: var(--color-bg-brun);
}

.tema-boks h2,
a {
  text-align: center;
}
/* Her slutter generelt css */
