/* Her starter desktop css */

/* Body */
#hvidbluse {
  width: 300px;
  height: auto;
}

.forsideintro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px;
  background-color: var(--color-bg-grøn);
}

.temaer {
  padding: 200px;
  text-align: center;
}

.tema-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.temaknap {
  width: 450px;
  height: 300px;
  font-size: var(--desktop-font-size-h2);
  align-content: center;
}

.ommigforside {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  gap: 20px;
  padding: 30px;
  align-items: center;
  background-color: var(--color-bg-grøn);
}

#ommigoverskrift {
  grid-column: 1 / -1;
  grid-row: 1;
  text-align: center;
}

#ommigtekst {
  grid-column: 1;
  grid-row: 2;
  width: 570px;
}

#ommigbillede {
  grid-column: 2;
  grid-row: 2;
  width: 300px;
  height: auto;
}
#ommigbillede img {
  width: 300px;
  height: auto;
}

.ommigtekst {
  width: 300px;
}
/* Her slutter desktop css */

/* Her starter mobile css */
@media (max-width: 450px) {
  .forsideintro,
  .ommigforside {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .temaer {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
    align-content: center;
  }

  .tema-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: center;
  }

  .temaknap {
    width: 200px;
    height: 150px;
    font-size: var(--mobile-font-size-h2);
    align-content: center;
  }

  img {
    max-width: 300px;
  }
}

/* Her slutter mobile css */

/* Her starter generelt css */
a {
  background-color: var(--color-bg-brun);
}

#hvidbluse,
#ommigbillede img {
  border-radius: 100px;
}
/* Her slutter generelt css */
