/* Her starter desktop css */

.lunabillede {
  width: 300px;
  height: auto;
}

main {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1400px;
}
header {
  margin: 0;
}

/* Font */

h1 {
  font-size: var(--desktop-font-size-h1);
}
h2 {
  font-size: var(--desktop-font-size-h2);
}
h3 {
  font-size: var(--desktop-font-size-h3);
}
h4 {
  font-size: var(--desktop-font-size-h4);
}
p {
  font-size: var(--desktop-font-size-p);
}

/* Header */
.lunalogo {
  width: 160px;
  height: auto;
}

/* Body */
.temaintro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  gap: 30px;
}
.overskrift {
  padding: 40px;
}

.linkknap {
  font-size: var(--desktop-font-size-p);
}

/* Footer */
footer {
  padding: 50px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

/* Her slutter desktop css */

/* Her starter mobile css */
@media (max-width: 450px) {
  main {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 430px;
  }
  header {
    margin: 0;
  }

  .lunabillede {
    max-width: 300px;
    height: auto;
  }

  /* Header */
  .lunalogo {
    width: 100px;
    height: auto;
  }

  /* Body */
  .overskrift {
    padding: 30px;
  }

  .temaintro {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .opgaveogbilleder {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
  }

  .linkknap {
    font-size: var(--mobile-font-size-p);
  }

  /* Footer */

  .footer {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 20px;
    padding: 10px;
  }
  /* Font */
  h1 {
    font-size: var(--mobile-font-size-h1);
  }
  h2 {
    font-size: var(--mobile-font-size-h2);
  }
  h3 {
    font-size: var(--mobile-font-size-h3);
  }
  h4 {
    font-size: var(--mobile-font-size-h4);
  }
  p {
    font-size: var(--mobile-font-size-p);
  }
}
/* Her slutter mobile css */

/* Her starter generelt css */
* {
  font-weight: 400;
}

.lunabillede {
  border-radius: 100px;
}
/* Header */
header {
  top: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  gap: 1.5rem;
}

.menu a {
  color: #000000;
}

.menu a:hover {
  color: var(--hover-color);
}

/*************/
.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  display: none;
  margin-left: auto;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-bg-brun);
  transition: 0.2s linear;
}

@media (max-width: 450px) {
  .menu {
    display: none;
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -7px);
  }

  nav.active .menu {
    display: block;
    background-color: var(--color-bg-brun);
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
/*************/

/* Body */
body {
  background-color: var(--color-bg-creme);
}

.overskrift {
  background-color: var(--color-bg-grøn);
  text-align: center;
}

.opgaveogbilleder {
  background-color: var(--color-bg-grøn);
}

.linkknap {
  text-decoration: underline;
}

.linkknap:hover {
  background-color: var(--color-bg-brun);
  transition: 0.2s ease;
  padding: 5px;
  border-radius: 4px;
}

.knap {
  background-color: var(--color-bg-brun);
  padding: 0.4rem 1.2rem;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  font-family: var(--font-lily);
}

.knap:hover,
.temaknap:hover {
  color: var(--hover-color);
}

/* Font */
a {
  text-decoration: none;
  color: #000;
}

h1,
h2 {
  font-family: var(--font-lily);
}

h3,
h4,
p {
  font-family: var(--font-eb);
}

/* Footer */
.socialemedier img {
  width: 50px;
  height: 100%;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.socialemedier img:hover {
  opacity: 1;
}

/* Her slutter generelt css */
