/* Her starter desktop css */
#portrait {
  width: 300px;
  height: auto;
  border-radius: 100px;
}

.ommig_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 30px;
}
/* Her slutter desktop css */

/* Her starter mobile css */
@media (max-width: 450px) {
  .ommig_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
/* Her slutter mobile css */

/* Her starter generelt css */

/* Her slutter generelt css */
