/* Her starter desktop css */

.tema-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 50px;
}

.temaknap {
  width: 450px;
  height: 300px;
  font-size: var(--desktop-font-size-h3);
  align-content: center;
}

.tema-boks {
  padding: 30px;
}

/* Her slutter desktop css */

/* Her starter mobile css */
@media (max-width: 450px) {
  .tema-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
  }
}
/* Her slutter mobile css */

/* Her starter generelt css */

.tema-boks {
  background-color: var(--color-bg-brun);
}

.tema-boks h2,
a {
  text-align: center;
}
/* Her slutter generelt css */
