/* Her starter desktop css */

.opgaveogbilleder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  gap: 20px;
  padding: 30px;
}

#tema2_titel1 {
  grid-column: 1 / -1;
  grid-row: 1;
  text-align: center;
}

#tema2_billede1 {
  grid-column: 1;
  grid-row: 2;
}

#tema2_billede2 {
  grid-column: 2;
  grid-row: 2;
}

.tema2billeder {
  width: 600px;
}

.grid_tekst_tema2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;

  grid-template-areas:
    "tekst1 billede1 billede1"
    "billede2 billede3 billede4"
    "tekst2 tekst2 tekst3"
    "billede5 tekst4 tekst4";
}

/* Tekstfelter */
.tekst1 {
  grid-area: tekst1;
}
.tekst2 {
  grid-area: tekst2;
}
.tekst3 {
  grid-area: tekst3;
}
.tekst4 {
  grid-area: tekst4;
}

/* Billeder */
.billede1 {
  grid-area: billede1;
}
.billede2 {
  grid-area: billede2;
}
.billede3 {
  grid-area: billede3;
}
.billede4 {
  grid-area: billede4;
}
.billede5 {
  grid-area: billede5;
}

/* Billeder generelt */
.grid_tekst_tema2 img {
  width: 100%;
  height: auto;
  display: block;
}

/* Her slutter desktop css */

/* Her starter mobile css */
@media (max-width: 450px) {
  .tema2billeder {
    width: 300px;
  }

  .opgaveogbilleder {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  #tema2_titel1 {
    grid-column: 1;
    grid-row: auto;
  }
  #tema2_billede1 {
    grid-column: 1;
    grid-row: auto;
  }
  #tema2_billede2 {
    grid-column: 1;
    grid-row: auto;
  }

  .grid_tekst_tema2 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "tekst1"
      "billede1"
      "billede2"
      "billede3"
      "billede4"
      "tekst2"
      "tekst3"
      "billede5"
      "tekst4";
  }

  .tema2billeder_små {
    width: 270px;
  }
}
/* Her slutter mobile css */

/* Her starter generelt css */

/* Her slutter generelt css */
