/* Her starter desktop css */

/* Her slutter desktop css */

/* Her starter mobile css */
@media (max-width: 450px) {
  .tema2billeder {
    width: 400px;
  }
}
/* Her slutter mobile css */

/* Her starter generelt css */

/* Her slutter generelt css */
